<div class="bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <div class="mb-6">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Edit Entity</h1>
      <p class="mt-2 text-sm text-gray-700">Update the entity's information.</p>
    </div>
    <%= render "form", entity: @entity %>
  </div>
</div> 